<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">
		<h:outputStylesheet name="css/style.css" />
		<h:outputStylesheet name="css/bootstrap.min.css" />

	</ui:define>

	<ui:define name="body">
		<div class="container">
			<div class="navbar navbar-static-top"
				role="navigation">
				<div class="container-fluid">
					<h:form id="headerForm">
						<div class="navbar-header">
							<h:link class="navbar-header" outcome="index.xhtml">
								<p:graphicImage styleClass="topLogo" name="images/logo.png"
									height="100" />
							</h:link>
						</div>
						<div class="topBarPosition">
								<div class="nav navbar-nav">
									<p:menubar styleClass="topNavigation">
										<p:menuitem styleClass="menuButtons" value="Katastrophenschutzübungen" />
										<p:separator />
										<p:menuitem styleClass="menuButtons" value="Übersetzungen" url="translation.xhtml" />
										<p:separator />
										<p:menuitem styleClass="menuButtons" value="Freiwillige Hilfe" />
									</p:menubar>
								</div>
								<div class="nav navbar-nav navbar-right">

									<p:menuButton id="userButton" value="#{userBean.username}">
										<p:menuitem value="Benutzerprofil" />

										<p:menuitem  value="Einstellungen" />
										<p:separator style="clear: both !important; height: 0 !important; width: 98% !important;" />
										<p:menuitem value="Ausloggen" action="#{userBean.logout()}"
											ajax="false" />

									</p:menuButton>

									<p:commandButton styleClass="notificationButton" value="Notifikationen" ajax="false"/>
		           
								</div>
					
						</div>
					</h:form>
				</div>
			</div>
			<div style="padding-top:5px !important;" class="content">
				<p:messages globalOnly="true" />
				<h:form id="form">
					<ui:insert name="content" />
				</h:form>
			</div>
			<div>
				<h:form id="dialogForm">
					<ui:insert name="dialogs" />
				</h:form>
			</div>
		</div>
	</ui:define>

</ui:composition>