<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!--     <f:view contentType="application/xhtml+xml" -->
    <!--             encoding="UTF-8"> -->

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<!--         <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/> -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Wave4Help</title>
        <ui:insert name="head"/>
    </h:head>

    <h:body class="background">
        <ui:insert name="body"/>
    </h:body>

    <!--     </f:view> -->
</html>