<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/baseTemplate.xhtml">

    <ui:define name="content">
        <p:fieldset legend="Review - #{reviewBean.fromLanguage} -> #{reviewBean.toLanguage}">
        	<p:panelGrid styleClass="simpleTable simpleTableWidth">
        		<p:row>
        			<p:column>
        				<p:commandButton value="Falsche Sprache korrigieren" process="@this" update=":dialogForm:correctLanguageDialogContent" onsuccess="PF('correctLanguageDialog').show()"/>
        			</p:column>
        			<p:column>
        				<p:commandButton styleClass="alignRight" value="Spam!" action="#{reviewBean.spamTranslation}" ajax="false" />
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<h:panelGroup id="correctedLanguageRow">
        					<h:outputText value="Korrigierte Sprache: #{reviewBean.correctedLanguage}" 
        						rendered="#{not (reviewBean.fromLanguage eq reviewBean.correctedLanguage)}"/>
        				</h:panelGroup>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<p:panel header="Text">
        					<h:outputText value="#{reviewBean.originalText}"/>	
        				</p:panel>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<p:panel header="Übersetzung">
        					<h:outputText value="#{reviewBean.translatedText}"/>	
        				</p:panel>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column sytleClass="alignTop">
        				<p:outputLabel for="rating" value="Bewertung"/>
        				<p:selectOneRadio id="rating" value="#{reviewBean.correct}">
        					<p:ajax process="@this" update="commentGroup"/>
        					<f:selectItem itemLabel="Übersetzung korrekt" itemValue="#{true}"/>
        					<f:selectItem itemLabel="Übersetzung inkorrekt" itemValue="#{false}"/>
        				</p:selectOneRadio>
        			</p:column>
        			<p:column>
        				<h:panelGroup id="commentGroup">
	        				<p:panel header="Bewertungskommentar" rendered="#{not reviewBean.correct}">
	        					<p:editor value="#{reviewBean.reviewComment}"/>
	        				</p:panel>
        				</h:panelGroup>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column>
        				<p:commandButton value="Überspringen" action="#{reviewBean.skipReview}" ajax="false"/>
        			</p:column>
        			<p:column>
        				<p:commandButton styleClass="alignRight" value="Review speichern" action="#{reviewBean.saveReview}" ajax="false"/>
        			</p:column>
        		</p:row>
            </p:panelGrid>
        </p:fieldset>
    </ui:define>
    
    <ui:define name="dialogs">
    	<p:dialog id="correctLanguageDialogContainer" widgetVar="correctLanguageDialog" header="Falsche Sprache korrigieren" modal="true" draggable="false" width="400" resizable="false" closeOnEscape="true" dynamic="true">
    		<p:panelGrid id="correctLanguageDialogContent" columns="2" styleClass="simpleTable">
    			<p:column >
    				<p:outputLabel value="Sprache" for="correctedLanguage"/>
                </p:column>
                <p:column>
                	<p:selectOneMenu  id="correctedLanguage" value="#{reviewBean.correctedLanguage}">
                		<f:selectItems value="#{languagesBean.languagesForCorrection}"/>
                	</p:selectOneMenu>
                </p:column>
    		</p:panelGrid>
    		<p:button styleClass="dialogButtons" value="Abbrechen" onclick="PF('correctLanguageDialog').hide()"/>
    		<p:commandButton styleClass="alignRight dialogButtons" value="Korrektur speichern" process="@form" update=":form:correctedLanguageRow" onsuccess="PF('correctLanguageDialog').hide()"/>
    	</p:dialog>
    </ui:define>
</ui:composition>