<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/baseTemplate.xhtml">

    <ui:define name="content">
        <p:fieldset legend="Übersetzung - #{translationBean.fromLanguage} -> #{translationBean.toLanguage}">
        	<p:panelGrid styleClass="simpleTable simpleTableWidth" style="padding: 4px 0px 4px 10px; ">
        		<p:row>
        			<p:column>
        				<p:commandButton value="Falsche Sprache korrigieren" process="@this" update=":dialogForm:correctLanguageDialogContent" onsuccess="PF('correctLanguageDialog').show()"/>
        			</p:column>
        			<p:column>
        				<p:commandButton styleClass="alignRight" value="Spam!" action="#{translationBean.spamTranslation}" process="@this" update="@all"/>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<h:panelGroup id="correctedLanguageRow">
        					<h:outputText value="Korrigierte Sprache: #{translationBean.correctedLanguage}" 
        						rendered="#{not (translationBean.fromLanguage eq translationBean.correctedLanguage)}"/>
        				</h:panelGroup>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<p:panel header="Text">
        					<h:outputText value="#{translationBean.originalText}"/>	
        				</p:panel>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column colspan="2">
        				<p:panel header="Übersetzung">
        					<p:inputTextarea styleClass="simpleTableWidth" id="translatedText" cols="100" value="#{translationBean.translatedText}"/>
        					<p:message for="translatedText"/>
        				</p:panel>
        			</p:column>
        		</p:row>
        		<p:row>
        			<p:column>
        				<p:commandButton value="Überspringen" action="#{translationBean.skipTranslation}" process="@this" update="@all"/>
        			</p:column>
        			<p:column>
        				<p:commandButton styleClass="alignRight" value="Übersetzung speichern" action="#{translationBean.saveTranslation}" ajax="false"/>
        			</p:column>
        		</p:row>
            </p:panelGrid>
        </p:fieldset>
    </ui:define>
    
    <ui:define name="dialogs">
    	<p:dialog id="correctLanguageDialogContainer" widgetVar="correctLanguageDialog" header="Falsche Sprache korrigieren" modal="true" draggable="false" width="400" resizable="false" closeOnEscape="true" dynamic="true">
    		<p:panelGrid id="correctLanguageDialogContent" columns="2" styleClass="simpleTable">
    			<p:column >
    				<p:outputLabel value="Sprache" for="correctedLanguage"/>
                </p:column>
                <p:column>
					<p:selectOneMenu  id="correctedLanguage" value="#{translationBean.correctedLanguage}">
                		<f:selectItems value="#{languagesBean.languagesForCorrection}"/>
               		</p:selectOneMenu>
               	</p:column>
    		</p:panelGrid>
    		<p:button styleClass="dialogButtons" value="Abbrechen" onclick="PF('correctLanguageDialog').hide()"/>
    		<p:commandButton styleClass="dialogButtons alignRight" value="Korrektur speichern" process="@form" update=":form:correctedLanguageRow" onsuccess="PF('correctLanguageDialog').hide()"/>
    	</p:dialog>
    </ui:define>
</ui:composition>