<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/baseTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <p:fieldset legend="Logins">
        	<p:dataList value="#{userBean.usernames}" var="usr">
        		<p:commandLink value="#{usr}" action="#{userBean.login(usr)}" process="@this" update="@form" disabled="#{usr eq userBean.username}"/><h:outputText value=" (eingeloggt)" rendered="#{usr eq userBean.username}"/>
        	</p:dataList>
        </p:fieldset>
        <p:fieldset legend="Testdaten erzeugen">
            <p:panelGrid styleClass="simpleTable">
            	<p:row>
	                <p:column>
	               		<p:outputLabel value="Von" for="fromLanguage"/>
	               	</p:column>
	                <p:column>
		                <p:selectOneMenu id="fromLanguage" value="#{indexBean.dto.language}">
		                	<p:ajax process="@this" update="toLanguage"/>
		                	<f:selectItems value="#{languagesBean.getLanguagesExcept(indexBean.dto.wantedLanguage)}"/>
		                </p:selectOneMenu>
		                <p:message for="fromLanguage"/>
	               	</p:column>
	                <p:column>
	            		<p:outputLabel value="Zu" for="toLanguage"/>
	               	</p:column>
	                <p:column>
		                <p:selectOneMenu id="toLanguage" value="#{indexBean.dto.wantedLanguage}">
		                	<p:ajax process="@this" update="fromLanguage"/>
		                	<f:selectItems value="#{languagesBean.getLanguagesExcept(indexBean.dto.language)}"/>
		                </p:selectOneMenu>
		                <p:message for="toLanguage"/>
	               	</p:column>
                </p:row>
                
                <p:row>
	                <p:column>
	            		<p:outputLabel value="Text" for="originalText"/>
	               	</p:column>
	                <p:column colspan="3">
       					<p:inputTextarea id="originalText" cols="40" value="#{indexBean.dto.text}"/>
		                <p:message for="originalText"/>
	                </p:column>
                </p:row>
                
                <p:row>
	                <p:column/>
	                <p:column colspan="2">
	                	<p:commandButton value="Anlegen" ajax="false" actionListener="#{indexBean.add()}"/>
	                </p:column>
	                <p:column/>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
    </ui:define>
</ui:composition>