<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/baseTemplate.xhtml">

    <ui:define name="content">
        <p:fieldset legend="Übersetzung">
            <p:panelGrid styleClass="simpleTable">
            	<p:row>
	                <p:column>
	               		<p:outputLabel value="Von" for="fromLanguage"/>
	               	</p:column>
	                <p:column>
		                <p:selectOneMenu id="fromLanguage" value="#{translationViewBean.fromLanguage}">
		                	<p:ajax process="@this" update="toLanguage"/>
		                	<f:selectItems value="#{languagesBean.getLanguagesExcept(translationViewBean.toLanguage)}"/>
		                </p:selectOneMenu>
		                <p:message for="fromLanguage"/>
	               	</p:column>
	                <p:column>
	            		<p:outputLabel value="Zu" for="toLanguage"/>
	               	</p:column>
	                <p:column>
		                <p:selectOneMenu id="toLanguage" value="#{translationViewBean.toLanguage}">
		                	<p:ajax process="@this" update="fromLanguage"/>
		                	<f:selectItems value="#{languagesBean.getLanguagesExcept(translationViewBean.fromLanguage)}"/>
		                </p:selectOneMenu>
		                <p:message for="toLanguage"/>
	               	</p:column>
                </p:row>
                
                <p:row>                
	                <p:column colspan="2">
	                    <p:commandButton styleClass="buttonWidth" value="Übersetzung starten" action="#{translationBean.startTranslation(translationViewBean.fromLanguage, translationViewBean.toLanguage)}" ajax="false"/>
	                </p:column>
	                <p:column colspan="2">
	                	<p:commandButton styleClass="alignRight buttonWidth" value="Review starten" action="#{reviewBean.startReview(translationViewBean.fromLanguage, translationViewBean.toLanguage)}" ajax="false"/>
	                </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
    </ui:define>
</ui:composition>