@CHARSET "ISO-8859-1";

.currentUser {
	margin-left: 5px;
}

.notificationButton {
	margin-left: 10px;
	margin-right: 15px;
}

.simpleTable td {
	border-style: hidden !important;
}

.simpleTableWidth {
	width: 100% !important;
}

.topNavigation {
	width: 520px !important;
	padding-right: 10px !important;
	display: inline-block !important;
	font-size: 1.2em !important;
}

.topBarPosition {
	position: relative;
	top: 30px;
}

.buttonWidth {
	width: 190px !important;
}

.buttonBackground {
	background-color: #3baaeb;
}

.background {
	background-color: #e4f1fa;
	background-image: linear-gradient(to left, #3baaeb, #FFFFFF);
}

.topPan {
	height: 240px;
}

.topLogo {
	padding: 10px;
}

.menuButtons {
	/* border-width: 1px !important;
    border-left: solid !important; */
	margin-right: 2px;
}

.dialogButtons {
	margin-top: 5px;
}

.alignTop {
	vertical-align: top !important;
}

.alignRight {
	float: right;
}

/*
	primefaces css overridden rules
*/
#userButton.ui-button-icon-left {
	right: .5em !important;
}

.ui-selectonemenu-trigger {
	width: auto !important;
}

.ui-selectoneradio label {
	margin: 5px !important;
}

.ui-icon-bullet {
	background-position: -81px -145px !important;
}

.ui-state-error {
	background: inherit !important;
	border: 1px solid #CD0A0A;
	color: inherit !important;
}

.ui-menu .ui-separator {
	background: #A8A8A8 !important;
	border: none !important;
	width: 1px !important;
	clear: none !important;
	height: 22px !important;
	margin: 4px 6px 0 !important;
	box-shadow: none !important;
}